/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.banner-content{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.banner {
  color: white;
  text-align: center;
  height: 120vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: image-url("freerider.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.search-form{
display: auto;
margin-top: 60 px;
display: flex;
justify-content: center;
}
.field-input{
  height: 30 px! important;
  padding-left: 40 px;
  font-size: 16px;
  margin: 10px;
//border-radius: 6px
}
.text-left p {
  font-size: 20px;
  color: black;
}
.destination {
  color: black;
  height: 38px! important;
  width: 290px! important;
  font-size: 14px;
  font-weight: normal;
  border-style: inset;
  border-radius: 4px;
}
.date_picker {
  color: black;
  height: 38px! important;
  width: 290px! important;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 14px;
  font-weight: normal;
  border-style: inset;
}
