<!DOCTYPE html>
<html>
<h1></h1>
<body>

<div style="width: 50%; margin: 10%;">
<h2>Booking confirmation page</h2>
<p>Your booking was successful!</p>
<button onclick="myFunction()">Click here to see your booking</button>

<script>
function myFunction() {
    alert("We should show the date and lesson that was completed");
}
</script>
</div>


</body>
</html>
