<div class="container" id="booking-main">
  <h2>Congrats! <%= current_user.name %>  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
</h2>
  <p>You have successfully booked your lesson!</p>
  <h4 class="lower"> Booking details</h4>
  <p><strong>Lessons with:</strong></p>
  <p><strong>Date:</strong> 30/11/2016</p>
  <%#= link_to booking_path(@booking)  %>
</div>
