<div class="container">
  <div class="row">

  <!-- First -->
  <div class="col-xs-4">
    <div class="card-home">
      <div class="row">

        <div class="col-xs-6">
        <h2>Ernst</h2>
        <h6>Member since Oct 2015</h6>
        </div>

        <div class="col-xs-6">
        <div class="card-image">
        <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/3_ernst.jpg" class="img-circle cv" width="70">
        </div>
        </div>

      </div>
      <div class="card-content">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p class="card-text text-justify">
        It was super convenient to find a guide for our freeride trip via Snowflake. She even provided us with some great pictures afterwards. Very happy with the outcome!
        </p>
      </div>
    </div>
  </div>

  <!-- Second -->
  <div class="col-xs-4">
    <div class="card-home">
      <div class="row">

        <div class="col-xs-6">
        <h2>Gusti</h2>
        <h6>Member since Sept 2015</h6>
        </div>

        <div class="col-xs-6">
        <div class="card-image">
        <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/4_georg.jpg" class="img-circle cv" width="70">
        </div>
        </div>

      </div>
      <div class="card-content">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p class="card-text text-justify">
        I booked my instructor the night of New Year's Eve. the next day we were on the slopes. His quick response allowed me to start the New Year in the best way possible.
        </p>
      </div>
    </div>
  </div>

  <!-- Third -->
  <div class="col-xs-4">
    <div class="card-home">
      <div class="row">

        <div class="col-xs-6">
        <h2>Joanna</h2>
        <h6>Member since Oct 2016</h6>
        </div>

        <div class="col-xs-6">
        <div class="card-image">
        <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/2_christiane.jpg" class="img-circle cv" width="70">
        </div>
        </div>

      </div>
      <div class="card-content">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p class="card-text text-justify">
        We wanted to improve our technique and quickly found a suitable offer. We got the booking confirmation from the ski instructor within a couple of hours.
        </p>
      </div>
    </div>
  </div>

  </div> <!-- Closes Row -->
</div> <!-- Closes Container -->
