<div class="container">
  <div class="row">


    <div class="col-xs-4">
     <div class="card">
      <div class="card__image">
        <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/3_ernst.jpg" class="img-circle cv" width="100">
      </div>
      <div class="card_content">
        <h2>Ernst</h2>
        <p> It was super convenient to find a guide for our freeride trip via CheckYeti. She even provided us with some great pictures afterwards. Very happy with the outcome!</p>
      </div>
    </div>
  </div>


  <div class="col-xs-4">
    <div class="card">
      <div class="card__image">
        <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/4_georg.jpg" class="img-circle cv" width="100">
      </div>
      <div class="card_content">
       <h2>Gusti</h2>
       <p> I booked my instructor the night of New Year's Eve. the next day we were on the slopes. His quick response allowed me to start the New Year in the best way possible.
       </p>
     </div>
   </div>
 </div>

 <div class="col-xs-4">
   <div class="card">
    <div class="card__image">
     <img src="https://s3.eu-central-1.amazonaws.com/yeti-content/images/testimonial-images/2_christiane.jpg" class="img-circle cv" width="100">
   </div>
   <div class="card_content">
     <h2>Joanna</h2>
     <p> We wanted to improve our technique and quickly found a suitable offer. We got the booking confirmation from the ski isntructor within a couple of hours. </p>
   </div>
 </div>
</div>

</div>
</div>

