<div class="banner">


  <div class="banner-content">

    <h1>Book your skiing lesson online</h1>
    <div class="container" >
      <div class="row">
        <div class="col-sm-12">
          <div class="search-form">
            <form action ="/lessons" method="get" >
            <input type="text" name="lessons[destination]" placeholder="where?" class="field-search">
              <input type="text" name="lessons[date]" placeholder="when?">
              <input type="text" name="lessons[experience_level" placeholder="Your experience level?">
              <input type="submit" placeholder='send'>

            </div>

          </div>
        </div>

      </div>


    </div>
  </div>

