<div class="banner">


  <div class="banner-content">

    <h1>Book your skiing lesson online</h1>
    <div class="banner-container" >
      <div class="banner-row">
        <div class="col-sm-12">
        <form action ="/lessons" method="get" >
        <input type="text" name="lessons[destination]" placeholder="where?">
        <input type="text" name="lessons[date]" placeholder="when?">
        <input type="text" name="lessons[experience_level" placeholder="Your experience level?">
        <input type="submit" >



        </div>
      </div>

    </div>


  </div>
</div>

