<div class="banner">

  <div class="banner-content">

    <h1>Book your skiing lesson online</h1>
    <div class="container" >
      <div class="row ">

          <%= simple_form_for @lesson, method: :get do |f| %>
          <div class="search-form">

            <div class="col-sm-5">
              <%= f.input :destination, label: false, include_blank: false, collection: @destinations, wrapper_html: {class: "field-input" } %>
            <div><p class="text-left">Where?</p></div>
            </div>

            <div class="col-sm-5">
              <%= f.input :destination, placeholder: "when?", label: false, wrapper_html: {class: "field-input" } %>
              <div><p class="text-left">Where?</p></div>
            </div>

            <div class="col-sm-2 "> <!-- Button -->
              <%= f.submit :search, :class=>"btn-banner" , label: false %>
            </div>

          </div>
          <%end%>

        </div>
      </div>

    </div>

  </div>
</div>

<!-- collection: %w[where? 1 2 3], -->
