.footer {
  background-color: #3179B1;
  color: bisque;
  font-size: small;
  padding-top: 10px;
  height: 60px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

.footer p {
  color: #d8d8d8;
  margin-bottom: 20px;
  margin-left: 30px
}

.footer-left {
  float: left
}

.footer-right {
  float: right
}

.fa {
    opacity: 0.6;
    color: #87a8dd;
}

.fa:hover{
    opacity: 1;
}
