@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  // color: #777;
  // background: #4CAF50;
}

.show-full {
  .banner-image img {
    width: 100vw;
    height: 700px;
    position: relative;
  }
  .title-instructor {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    bottom: 0px;
    left: 50px;
    color: #3077AE;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.24);
  }
}


.description{
  .instructor-image{
    position: absolute;
    right: 20px;
    bottom: -30px;
  }
  .avatar-instructor {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .instructor-content {
    max-width: 800px;
    background: #F9F9F9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    margin: 61px 45px;
    position:relative;
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
  }
  .instructor-content h3 {
    padding: 30px;
    padding-bottom: 0px;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;

  }
  .instructor-content p {
    font-size: 16px;
    padding: 30px;
  }
}


// .btn-medium {
//   position: relative;
//   left: 40px;
//   bottom: 30px;
//   color: white;
//   background-color: #3179B1;
//   border: 1px solid #999999;
//   padding: 10px 15px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.8;
// }
// .btn-medium:hover {
//   position: absolute;
//   right: 10px;
//   bottom: 10px;
//   opacity: 1;
//   text-decoration: none;
//   color: #999999;
// }


// margin-bottom: -100px;
// margin-right: 27px;
